/* Typography and Palette */
:root {
    /* Primary Colors */
    --primary-color: #007bff; /* Primary color */
    --primary-light: #4d94ff; /* Lighter shade */
    --primary-dark: #0056b3; /* Darker shade */

    /* Secondary Colors */
    --secondary-color: #6c757d; /* Secondary color */
    --secondary-light: #adb5bd; /* Lighter shade */
    --secondary-dark: #495057; /* Darker shade */
    
    /* Accent Colors */
    --accent-color: #28a745; /* Accent color */
    --accent-light: #7dc872; /* Lighter shade */
    --accent-dark: #218838; /* Darker shade */

    /* Neutral Colors */
    --neutral-color: #ffffff; /* Neutral color */
    
    /* Background Colors */
    --bg-color: #f8f9fa; /* Background color */
    --bg-light: #ffffff; /* Lighter shade */
    --bg-dark: #dae0e5; /* Darker shade */
    
    /* Border Colors */
    --border-color: #bbb; /* Border color */
    --border-light: #e9ecef; /* Lighter shade */
    --border-dark: #ced4da; /* Darker shade */
    
    /* Text Colors */
    --text-color: #212529; /* Text color */
    --text-light: #495057; /* Lighter shade */
    --text-dark: #16181b; /* Darker shade */
    
    /* Fonts */
    --heading-font: 'Roboto', sans-serif;
    --subheading-font: 'Open Sans', sans-serif;
    --body-font: 'Lato', sans-serif;

    /* Font Sizes */
    --heading-size: 2.5rem;
    --subheading-size: 1.5rem;
    --body-size: 1rem;

    /* Font Weights */
    --heading-weight: 700;
    --subheading-weight: 600;
    --body-weight: 400;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Container */
.page-container {
    min-height: 100vh;
    width: 100%;
}

/* Global Defaults for Body */
body {
    font-family: var(--body-font);
    font-size: var(--body-size);
    color: var(--text-color);
    font-weight: var(--body-weight);
}

/* Global Defaults for Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
}

h1 {
    font-size: var(--heading-size);
}

h2 {
    font-size: var(--subheading-size);
}

/* Global Defaults for Buttons */
button {
    font-family: var(--body-font);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button {
    background-color: var(--primary-color);
    color: var(--bg-light);
}

.secondary-button {
    background-color: var(--secondary-color);
    color: var(--bg-light);
}

.primary-button:hover {
    background-color: var(--primary-dark);
}

/* Hover effect for Secondary Button */
.secondary-button:hover {
    background-color: var(--secondary-dark);
}

/* Global Defaults for Forms [WIP] */

        /* Divider */
        .divider {
            border-top: 3px solid var(--border-color);
            height: 0px;
        }